.Forecast{
    height: 100%;
    width: 100%;
    display: flex;  
    flex-direction: column;  
}

.TopInput input{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid rgb(241, 101, 86);
    font-size: 1.4vw;
    width: 7vw;
    margin-left: 2vw;
    caret-color: rgb(255,255,255,0.8);
    color: rgb(255,255,255,0.8);
}

button{
    background: rgb(241, 101, 86);
    color: rgb(255,255,255,0.8);
    width: 8vw;
    margin: 2vw 1vw;
    font-size: 1vw;
}

.BottomLabel{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.BottomLabel label{
    color: rgb(255,255,255,0.8);
    font-size: 1.4vw;

}
.BottomLabel label input{
    text-align: center;

}