.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: white;
}

#AppTitle{
  padding-top: 40vh;
  color:black;
  font-size: 3vw;
  text-align: center;
  margin: 0;
}